 
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px 15px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;  
}
.btn2{
    padding: 5px 30px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}
.my-2{
    margin: 26px 0;
}
.ny-1{
    margin: 5px 0;
}
.text-center{
    text-align: center;
}
